.navbar {
    background-color: #f5f5f5; /* Neutral background color */
    color: #333; /* Neutral text color */
    transition: background-color 0.3s ease; /* Fade-in animation */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.navbar-logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust the height based on the width */
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 1rem;
}

.navbar-item a {
    color: #ffa07a; /* Neutral text color */
    text-decoration: none;
    transition: color 0.3s ease; /* Fade-in animation */
}

.navbar-item a:hover {
    color: red; /* Neutral hover color */
}
