/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body background and font styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4; /* Neutral background */
  color: #333;
}

/* Container styles */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px; /* Increase the border radius for more rounded corners */
}

/* Header styles */
header {
  background-color: #ff7f50; /* Orange header */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
  font-family: 'Arial Narrow', sans-serif;
  transition: background-color 0.3s ease; /* Transition for background color change */
}

header h1 {
  font-size: 2rem;
  color: #fff; /* White text color */
}

/* Main content styles */
main {
  background-color: #fff; /* White content area */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #ff7f50; /* Orange text color */
}

/* Login form styles */
.login-form {
  background-color: #ffe4b2; /* Light orange form background */
  padding: 20px;
  border-radius: 30px; /* Make the form oval-shaped */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 18px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff7f50; /* Orange border */
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  transition: border-color 0.3s ease; /* Transition for border color change */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ffa07a; /* Lighter orange border color on focus */
  outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

/* Button styles */
button {
  background-color: #ff7f50; /* Orange button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for background color change */
  width: calc(100% - 18px); /* Adjust the width to match the input fields */
}

button:hover {
  background-color: #ffa07a; /* Lighter orange button color on hover */
}

/* Additional styles */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Georgia', serif;
}

/* Add background image */
body {
  background-image: url("background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
